.container{
    border-radius: 1px;
    border: 0.1px #E5E5E5 solid;
    outline-color:#1818AA;
    padding-left: 8px;
    background-color: rgb(244, 244, 244);
 }
 .input__focus{
    border: blue;
 }